.page {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-image: url("../png/wallpaper.png");
  background-repeat: no-repeat;
  background-size: cover;

  .container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .doubleBox {
    display: flex;
    width: 100%;
    height: 100%;

    .formBox {
      flex-grow: 4;
    }

    .summaryBox {
      flex-grow: 2;
      border-left: 1px solid #fff;
    }
  }
}
