.btn {
  padding: 0.5rem 5rem !important;
  margin-top: 2.5rem !important;
  border-radius: 30px !important;
  font-weight: 700 !important;
  text-transform: uppercase;

  &.margin {
    margin-top: 5rem !important;
  }

  &.disabled {
    color: #555 !important;
    border: 1px solid #333 !important;
  }

  &.big {
    padding: 0.8rem 7rem !important;
  }
}

.marginBottom {
  margin-bottom: 5rem;
}

.dataBox {
  display: flex;
  justify-content: center;
}

.figure {
  background-color: #fff;
  max-width: 15%;
  margin: 0 1rem;
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 10px;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    -webkit-box-shadow: 0px 0px 20px 6px rgba(255, 255, 102, 1);
    -moz-box-shadow: 0px 0px 20px 6px rgba(255, 255, 102, 1);
    box-shadow: 0px 0px 20px 6px rgba(255, 255, 102, 1);
  }

  &.active {
    -webkit-box-shadow: 0px 0px 20px 6px rgba(255, 153, 51, 1);
    -moz-box-shadow: 0px 0px 20px 6px rgba(255, 153, 51, 1);
    box-shadow: 0px 0px 20px 6px rgba(255, 153, 51, 1);
  }

  &.noClickable {
    cursor: auto;
    max-width: none;
    min-height: 90vh;
    max-height: 90vh;

    &:hover {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

    .imgBox {
      width: 40%;
      margin: 0 auto;
    }

    h1 {
        margin-top: 0;
        text-align: left;
    }

    .name {
      margin: 0 0 2rem 0;
    }
  }


  .imgBox {
    width: 100%;

    img {
      width: 100%;
    }

    .notFound {
      color: #999;
      font-size: 14px;
    }
  }

  a {
    color: #ff9933;
    text-decoration: none;
    transition: 0.3s;
    z-index: 5;

    &:hover {
      color: #4d2600;
    }
  }

  .partsLen {
    text-align: left;
  }

  .partsContainer {
    flex-grow: 1;
    overflow-y: auto;
    
    .partsBox {
      display: flex;
      margin-bottom: 0.25rem;

      .image {
        min-width: 15%;
        max-width: 15%;

        img {
          width: 100%;
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: 0.5rem;
        color: #ff9933;

        span:first-of-type {
          margin-bottom: 0.5rem;
          color: #000;
        }
      }
    }
  }
}
